/*Font*/
h1{
	color:#fff;
    font-size: 100px;
}

/*Chart*/
tr {
	border-bottom: 1px solid lightgray;
}

/*Footer*/
.ui-page {
    min-height:100% !important;
    height:auto !important;
}

.ui-content {
    min-height:100% !important;
    height:auto !important;
}

.ui-footer {
	width:100%;
	position: fixed !important;
	bottom: 0px;
}

/*Image Styling*/

#heading, img{
	position: fixed !important;
	min-width: 110% !important;
	height: 90% !important;
	left: 0px;
	top: 43px;
}

#image, img{
	width: 100px;
	height: 500px;
}

/*Color Overrides*/
#SolarEnergy, .ui-page { 
	background-image: url('SolarPanelSunset.jpg');
	background-size: cover;
}

#SolarEnergyBackground { 
    background: #C4F2FD !important;
}

.ui-page { 
background:#F8F8FF;
}

#logo,.ui-header {
    background-image: url('Final%20Project%20Logo.png') !important;
	height: 100% !important;
}

.ui-page .ui-header {
    background: #C4F2FD !important;
}

.ui-page .ui-footer {
    background: #C4F2FD !important;
}