/*Font*/
h1{
	color:#fff;
    font-size: 100px;
}

/*Chart*/
tr {
	border-bottom: 1px solid lightgray;
}

#home{
	background-image: url('Final%20Project%20Logo.png');
	background-size: cover;
}

/*Heading, Footer*/
.ui-page .ui-header {
    background: #C4F2FD !important;
}

.ui-page .ui-footer {
    background: #C4F2FD !important;
}

/*Footer*/
.ui-page {
    min-height:100% !important;
    height:auto !important;
}

.ui-content {
    min-height:100% !important;
    height:auto !important;
}

.ui-footer {
	width:100%;
	position: fixed !important;
	bottom: 0px;
}

#SolarEnergy{
	background-image: url('Background%20Image2.png');
	background-size: cover;
	top: 0px;
}

#MainColor{
    background: #C4F2FD !important;
}

/*Ghost buttons*/
.ghost-button {
  position:relative;
  top:0px;
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff !important;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #fff;
  transition: border-color 0.3s ease-out,
              color 0.3s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
  color: #0066ff !important;
  border-color: #0066ff;
  transition: border-color 0.4s ease-in,
              color 0.4s ease-in;
}

i.small  {
	font-size: 1.8em;
	position:relative;
	top:55px;
	left:200px;
	color:#fff;
}