.ui-page {
    min-height:100% !important;
    height:auto !important;
}

.ui-content {
    margin-bottom:42px; /* HEIGHT OF YOUR FOOTER */
}

.ui-footer {
    position:absolute !important;
    width:100%;
    bottom:0;
}

.ui-footer li {
    display:inline;
	width: 33.333%;
}

#footer_nav 
  width: 95%;
  display: table;

}

#footer_nav  li{
  width: 33.3%;
  display: table-cell;

}


/*
.date li{
  width: 33.333%;

}

.time li{
  width: 33.333%;

}

.weather li{
  width: 33.333%;

}
*/